body{
  background-color: blueviolet;  
  color: darkseagreen;
  text-align: center;
  display: center;
  margin: 0%;
  container: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}